.header {
    background-color: #1d2125;
    width: 100%;
    height: 3rem; /* Tailwind's h-12 */
    padding: 0.75rem; /* Tailwind's p-3 */
    border-bottom: 1px solid #9faddb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .left, .right {
    display: flex;
    align-items: center;
  }
  
  .right {
    gap: 1rem; /* Tailwind's space-x-4 */
  }
  
  .profile-image {
    border-radius: 50%;
  }
  